

<div class="container-fluid ">
    <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">




        <div class="row">
          
            <div class="col-xs-2">
              
               
            </div>
            <div class="col-xs-4">
                <div class="row">
                    <label class="col-xs-12 label-control">Sort by</label>
                </div>
                <div class="col-xs-6">
                    <div class="row">
                        <select class="form-control input-sm" [(ngModel)]="sortBy">
                            <option ngValue="name">Name</option>
                            <option ngValue="email">Author</option>
                          
                        </select>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="row">
                      
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default tablee">
            <div class="panel-heading">User information</div>
      
        <div class="panel panel-default tablee">
          

            <table class="table  tablee" [mfData]="data |datafilter : filterQuery" #mf="mfDataTable"
                   [mfRowsOnPage]="10" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                <thead>
                     <tr>
                    <th colspan="5">
                        Search
                        <input class="form-control" [(ngModel)]="filterQuery"/>
                    </th>
                </tr>
                <tr>
                
                    <th style="width: 50%">
                        <mfDefaultSorter by="name">Name</mfDefaultSorter>
                    </th>
                    <th style="width: 50%">
                        <mfDefaultSorter by="email">Author</mfDefaultSorter>
                    </th>
               
                </tr>
               
                </thead>
                <tbody>
                <tr *ngFor="let item of mf.data">
                  
                    <td (click)="clickbook($event.srcElement.firstChild.data)">{{item.name}}</td>
                       <td>{{item.author}}</td>
                       <img src={{item.image}} alt="" border="3" height="100" width="100" />
                    <!--<td>{{item.email}}</td>
                    <td class="text-right">{{item.age}}</td>
                    <td>{{item.city | uppercase}}</td>-->
                </tr>
                </tbody>
               <tfoot>
                <tr>
                    <td colspan="5">
                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
