<p  style=" color:white; margin-top:50px; font-size:35px;" class="customfont">


</p>




<div class="container-fluid ">
    <div class="col-xs-12 col-md-10  col-lg-8  tablee" id="insidec">




        <div class="panel panel-default tablee">
          
      
        <div class="panel panel-default tablee">
          

            <table class="table table-striped tablee" [mfData]="arr4" #mf="mfDataTable"
                   [mfRowsOnPage]="1" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
               
                <tbody class="tablee">
                <tr  *ngFor="let item of mf.data" style="background-color:#303030; color:white">
                  
                   {{item}}
                     
                   
                </tr>
                </tbody>
               <tfoot>
                <tr>
                    <td colspan="5">
                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
