<p>
  bookcontent works!
</p>
{{bookname}}



<div class="container-fluid">
    <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">




        <div class="panel panel-default">
          
      
        <div class="panel panel-default">
          

            <table class="table table-striped" [mfData]="arr4" #mf="mfDataTable"
                   [mfRowsOnPage]="1" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
               
                <tbody>
                <tr *ngFor="let item of mf.data">
                  
                   {{item}}
                     
                    <!--<td>{{item.email}}</td>
                    <td class="text-right">{{item.age}}</td>
                    <td>{{item.city | uppercase}}</td>-->
                </tr>
                </tbody>
               <tfoot>
                <tr>
                    <td colspan="5">
                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
