
		<nav class="navbar navbar-inverse navbar-fixed-top">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>-->
		      <h1 class="customfont2 " href="#"> 					
ReadClassicBooks.com</h1>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		       
		    
		      </ul>  
		  		<ul class="nav navbar-nav navbar-right">
		  			<div id="login">
		  				<form class="navbar-form navbar-right">
			        	
			        	
			        	
			      		</form>	
		  			</div>
			  	</ul>  
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>




<div class="container-fluid parent">
  <div class="row">
   <div class="col-xs-12 col-md-3 sidemenu" ><ul class="list-group list ">
		  <button type="button" class="list-group-item itemyellow" >Genre</button>

 <button type="button" class="list-group-item item" (click)="changegenrename($event.target.innerHTML)" >Adventure</button>
 <button type="button" class="list-group-item item" (click)="changegenrename($event.target.innerHTML)">Historical</button>
  <button type="button" class="list-group-item item" (click)="changegenrename($event.target.innerHTML)">Horror</button>
   <button type="button" class="list-group-item item" (click)="changegenrename($event.target.innerHTML)">Humorous</button>
    <button type="button" class="list-group-item item" (click)="changegenrename($event.target.innerHTML)">Mystery</button>
     <button type="button" class="list-group-item item" (click)="changegenrename($event.target.innerHTML)">Romance</button>
      <button type="button" class="list-group-item item" (click)="changegenrename($event.target.innerHTML)">Science Fiction</button>
       <button type="button" class="list-group-item item" (click)="changegenrename($event.target.innerHTML)">Thriller</button>
 
 
</ul>
  

</div>
  <div class="col-xs-12 col-md-9 maincontent"><app-booklist *ngIf="cond" [genrename]="genrename" [data]="data" (shoulddisplay)="changeview($event)"></app-booklist></div>
  <div class="col-xs-12 col-md-9 maincontent"><app-bookcontent *ngIf="!cond" ></app-bookcontent></div>

  </div>
</div>

	

