
		<nav class="navbar navbar-inverse navbar-fixed-top">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="#">MyApp</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li class="active"><a href="#">Home<span class="sr-only">(current)</span></a></li>
		        <li><a href="#about">About</a></li>
		        <li><a href="#download">Download The App</a></li>
		      </ul>  
		  		<ul class="nav navbar-nav navbar-right">
		  			<div id="login">
		  				<form class="navbar-form navbar-right">
			        		<div class="form-group">
			          			<input type="text" class="form-control" placeholder="Email id">
			        		</div>
			        		<div class="form-group">
			          			<input type="password" class="form-control" placeholder="Password">
			        		</div>
			        		<button type="submit" class="btn btn-default btn-info">Login</button>
			      		</form>	
		  			</div>
			  	</ul>  
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>




<div class="container-fluid">
  <div class="row">
   <div class="col-xs-12 col-md-3"><ul class="list-group">
 <button type="button" class="list-group-item" (click)="changegenrename($event.target.innerHTML)">Adventure</button>
 <button type="button" class="list-group-item" (click)="changegenrename($event.target.innerHTML)">Historical</button>
  <button type="button" class="list-group-item" (click)="changegenrename($event.target.innerHTML)">Horror</button>
   <button type="button" class="list-group-item" (click)="changegenrename($event.target.innerHTML)">Humorous</button>
    <button type="button" class="list-group-item" (click)="changegenrename($event.target.innerHTML)">Mystery</button>
     <button type="button" class="list-group-item" (click)="changegenrename($event.target.innerHTML)">Romance</button>
      <button type="button" class="list-group-item" (click)="changegenrename($event.target.innerHTML)">Science Fiction</button>
       <button type="button" class="list-group-item" (click)="changegenrename($event.target.innerHTML)">Thriller</button>
       <button type="button" class="list-group-item" (click)="changegenrename($event.target.innerHTML)">Western</button>
       <button type="button" class="list-group-item"(click)="changegenrename($event.target.innerHTML)">Young Adult</button>
 
</ul>


</div>
  <div class="col-xs-6 col-md-9"><app-booklist *ngIf="cond" [genrename]="genrename" [data]="data"></app-booklist></div>
  </div>
</div>

	

